body {
  background-color: #01172F;
}

#order {
  display:none;
}

#confirmation {
  display:none;
  border:solid #8EE3EF 2px;
  background-color: #2176AE;
  margin-top:2rem;
}

#leftPane {
  padding-left:3rem;
}

#toppingList {
  margin-top:2rem;
}

#welcome {
  border:solid #8EE3EF 2px;
  background-color: #2176AE;
  padding:0.5rem;
  margin-top:2rem;
}

#order {
  margin-top:2rem;
}

#rightPane {
  padding-right:5rem;
  border:solid #8EE3EF 2px;
  background-color: #2176AE;
}

.pizzaListContainer {
  margin-left:1rem;
}

#submitOrder {
  margin-bottom:2px;
}

.price {
  font-weight:bold;
  margin-top:2px;
}

.btn {
  margin-top:2px;
  margin-bottom:2px;
}

#welcomeForm > button {
  margin-left:1rem;
}

.form-row {
  margin-left:0.75rem;
}

#pizzaOptions {
  padding-left:1rem;
  margin-bottom:1rem;
  border:solid #8EE3EF 2px;
  background-color: #2176AE;
}

#confirmation > h3 {
  margin-left:2rem;
  margin-top:2rem;
}

#confirmation > h2 {
  margin-left:1rem;
}

#confirmation > div {
  margin-left:2rem;
}

p, h1, h2, h3, h4, li, label {
  color:#FFBFA0;
}