#order {
  display:none;
}

#leftPane {
  padding-left:3rem;
}

#toppingList {
  margin-top:2rem;
}

#rightPane {
  padding-right:5rem;
  border:solid black 1px;
  background-color:aqua;
}

#pizzaListContainer {
  margin-left:1rem;
}

#submitOrder {
  margin-bottom:2px;
}

.price {
  font-weight:bold;
  margin-top:2px;
}

.btn {
  margin-top:2px;
  margin-bottom:2px;
}

#welcomeForm > button {
  margin-left:1rem;
}

.form-row {
  margin-left:0.75rem;
}

#pizzaOptions {
  padding-left:1rem;
  margin-bottom:1rem;
  border: solid lightgray 1px;
}